html, body {
    width: 100%;
    height: 100%;
}
.line {
    margin: 3%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 15%;
}
.line .card {
    margin: 3%;
    background: grey;
    width: 30%;
    height: 100%;
    text-align: center;
}
.line .card:hover {
    cursor: pointer;
}
