
.icon-spin6:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-crown:before { content: '\e802'; } /* '' */
.icon-coffee:before { content: '\e803'; } /* '' */